= f.input :title, :label => "文章標題", :input_html => { :class => "span10" }
= f.input :content, :label => "內容", :input_html => { :class => "span10" }
= f.input :is_publish, :as => :radio_buttons, :label => "是否公開", :item_wrapper_class => 'inline'
.form-actions
  = f.submit "儲存", :class => 'btn btn-primary'
