h1 編輯 #{@article.title}
= simple_form_for(@article, url: admin_project_article_path(@article.project, @article), :html => { :class => 'form-horizontal' }) do |f|
  = render partial: 'form', locals: { f: f }
