- set_meta_tags title: title , description: description
- set_meta_tags open_graph: { title: title,
                              description: "Article",
                              url: "#{request.protocol}#{request.host_with_port}#{request.fullpath}",
                              image: "http://graph.facebook.com/1589145634/picture?type=large" }
