@import "compass/typography/vertical_rhythm";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

$base-font-size: 16px;
$base-line-height: 27.2px;
@include establish-baseline;

.sidebar .nav {
  width: 200px;
}

header.role-header{
  a {
    text-decoration: none;
  }
}

footer {
  @include background(linear-gradient(top, #6C6C6C 0%, #505050 100%));
  color: #C6C6C6;
  padding: 10px;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  box-shadow: inset 0 -1px 0 white;
  text-shadow: 0 1px 0 black;
  img.cc { display: inline-block; }
  img.jimmy {
    display: inline-block;
    background: #ECECEC;
    @include box-shadow(rgba(0, 0, 0, 0.5) 0 10px 20px, #555 0 -1px 0 white, 0 1px 0);
    @include border-radius(165px);
  }
  ul.social{
    font-size: 1.5em;
    list-style: none;
    li {
      float: left;
      a {
        text-decoration: none;
      }
    }
  }
}
